@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600&display=swap");

$body-bg: #0b0c10;
$primary: #66fcf1;
$secondary: #c5c6c7;
$tertiary: #45a29e;
$font-family-sans-serif: "Oswald";

.btn-primary {
  margin: 0 10px;
}
.btn-secondary {
  margin: 0 10px;
}

.btn-tertiary {
  margin: 0 10px;
}

@import "~bootstrap/scss/bootstrap";
